In [ ]:
# Mark
## Mark
### Mark

# Trinath
## Trinath
### Trinath
#### Trinath
##### Trinath

* point *

** point **

**point**

***point***

* krunker --[2]:https://krunker.io/?game=SIN:3609r

* Google Site -- [Google][1]
[1]:http://www.google.com

* Krunker - [Krunker][2]
[2]:https://krunker.io/?game=SIN:3609r

In [12]:
print("hello world")

hello world

In [13]:
print("show",end=" ")
print("man")

show man

In [17]:
print("trinath"," hi",end=" ")
print("kodi",end=" trinath ")
print("paanch")

trinath  hi kodi trinath paanch

In [20]:
a=20 #single variable assignment
b=c=v=61 # multi variable assignment with same value
z,d,f=20,30,11 # multi variable assignment with different variables & values
print(a)
print(b,c,v)
print(z,f,d)

20
61 61 61
20 11 30

In [24]:
x=48
y=33.48
print(x,y)
print(type(a))
print(type(y))

48 33.48
<class 'int'>
<class 'float'>

In [25]:
x=48
y=33.48
print(x,y)
print(type(x),type(y))

48 33.48
<class 'int'> <class 'float'>

In [26]:
print("hello!\nhello")

hello!
hello

In [5]:
i=100
print(type(i))
x=str(i) # str() converts the input to string type
print(type(x))
y=float(i) # float() converts the input into float type
print(type(y))

<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
x="100"
print(type(x))
a=int(x)
print(type(a))
f=3.3
z=int(f)
print(type(z))
print(z)

In [7]:
#TO FIND LENGTH
a=3348
print(len(str(a)))

4

In [8]:
s1=input("enter your name")
print(s1)
print(type(s1))

enter your nametrinath
trinath
<class 'str'>

# Operators

## Arithetic Operators

* +
* -
* /
* %
* *
* // # double division gives answer in int type while single division gives output in float
### **

In [9]:
x,y=48,33
print(x+y)
print(x-y)
print(x/y)
print(x*y)
print(x//y)
print(x**y)

81
15
1.4545454545454546
1584
1
30266404599109864532334369015971799232027475459658743808

In [10]:
x=1+2**3/4+5
print(x)
print(type(x))

8.0
<class 'float'>

## Relational Operators

* ==
* !=
* greater than (>)
* less than (<)
* greater than or equal to (>=)
* lessthan or equal to (<=)

In [11]:
a,b=5,8
x=(a>5 and b>8)
y=(a<6 and b<9)
print(x)
print(y)

False
True

# Else If Syntax

if<>:
else:

## or

if<>:
elif<>:

In [2]:
# To check given number is even or odd
n=int(input("enter a number"))
if n%2 == 0:
    print("even")
else:
    print("odd")

enter a number9
odd

In [3]:
# Given number is divisible by both 3 & 5 or not
n=int(input("enter a number"))
if n%3==0 and n%5==0:
    print("divisible by 3 & 5")
else:
    print("not divisible by 3 & 5")

enter a number25
not divisible by 3 & 5

In [ ]:
# Given number is 0 or -ve or +ve
n=int(input("enter a number"))
if n==0:
    print("n=0")
elif n>0:
    print("n>0")
else:
    print("n<0")

In [ ]:
# Largest among the three numberws
a=int(input("enter a number"))
b=int(input("enter b number"))
c=int(input("enter c number"))
if a<b and a<c:
    print(a, "is largest")
elif b<a and b<c:
    print(b,"is largest")
else:
    print(c,"is largest")

In [ ]:
#to check given year is leap or not
n=int(input("enter a year"))
if n%4==0:
    print(n,"is a leap year")
else:
    print(n,"is not a leap year")

# Iterations

    1. While
    2. For

## While Boolean Condition:
      Statements
      Increment/Decrement(update)
      
### Syntax
     while condition:
     statements
     update

In [1]:
# To print A name 5 times
n=str(input("enter a name"))
i=0
while i<5:
    print(n)
    i=i+1

enter a nameg
g
g
g
g
g

In [10]:
# T print 1 to n numbers
n=int(input("enter n"))
i=0
while i<=n:
    print(i,end=" ")
    i=i+1

enter n6
0 1 2 3 4 5 6

In [6]:
# To read even number between 1 to n and sum them
n=int(input("enter a number"))
i=0
sum=0
while i<=n:
    if i%2==0:
        sum=sum+i
    i=i+1   
print(sum)

enter a number5
9

In [7]:
# To read odd numbers  between 1 to n
n=int(input("enter a number"))
i=0
sum=0
while i<=n:
    if i%2!=0:
        sum=sum+i
    i=i+1   
print(sum)

enter a number3
4

In [7]:
# to print digits in given number
n=int(input("enter a number"))
r=0
print(n)
while n>0:
    r=n%10
    print(r)
    n=int(n/10)

enter a number3483
3483
3
8
4
3

# Functional Programing

## Simple
## Easy to read
## Lengthy program divides into sub-program

### def  name of the function (parameters):
    Statements
    return

In [37]:
# Sum of even digits using functions
def addevendigits(n):
    sum=0
    while n!=0:
        r=n%10
        if r%2==0:
            sum=sum+r
        n=n//10
    return(sum)#instead of return print can also be used
n=int(input("enter a number"))
addevendigits(n)

enter a number4666666

40

In [30]:
# To print Large digit in a number
def larger(n):
    a=0
    while n!=0:
        r=n%10
        if r>a:
            a=r
        n=n//10
    print(a)      
n=int(input("enter a number"))
larger(n)

enter a number4738
8

In [38]:
#To reverse a number
def reverse(n):
    s=0
    while n!=0:
        r=n%10
        s=s*10+r
        n=n//10
    return(s)
n=int(input("enter a number"))
reverse(n)

enter a number457

754

In [47]:
#Given number is palindrome or not
def pallindrome(n):
    s=0
    k=n
    while n!=0:
        r=n%10
        s=s*10+r
        n=n//10
    if k==s:
        print("pallindrome")
    else:
        return "Not a Pallindrome"
n=int(input("enter a number"))
pallindrome(n)

enter a number3443
pallindrome

In [3]:
#factorial

n=int(input("enter a number"))
def fact(n):
    f=1
    i=1
    while i<=n:
        f=f*i
        i=i+1
    return(f)
print(fact(n))

enter a number5
120

## Functions using for loop

In [4]:
#To print 1 to n numbers
def num(n):
    for i in range (1,n+1):
        print(i,end=" ")
n=int(input("enter n"))
num(n)

enter n4
1 2 3 4

In [8]:
# to print alternative numbers
def num(n,m):
    for i in range (n,m-1,-1):
        print(i,end=" ")
n=int(input("enter n"))
m=int(input("enter m"))
num(n,m)

enter n44
enter m22
44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22

In [4]:
for i in range(10,20-1,4):
      print(i)

10
14
18

In [ ]:
x=10
if x>2:
    print("y")
elif