# Mark
## Mark
### Mark

# Trinath
## Trinath
### Trinath
#### Trinath
##### Trinath

* point *

** point **

**point**

***point***

* krunker --[2]:https://krunker.io/?game=SIN:3609r

* Google Site -- [Google][1]
[1]:http://www.google.com

* Krunker - [Krunker][2]
[2]:https://krunker.io/?game=SIN:3609r

In [12]:
print("hello world")

hello world

In [13]:
print("show",end=" ")
print("man")

show man

In [17]:
print("trinath"," hi",end=" ")
print("kodi",end=" trinath ")
print("paanch")

trinath  hi kodi trinath paanch

In [20]:
a=20 #single variable assignment
b=c=v=61 # multi variable assignment with same value
z,d,f=20,30,11 # multi variable assignment with different variables & values
print(a)
print(b,c,v)
print(z,f,d)

20
61 61 61
20 11 30

In [24]:
x=48
y=33.48
print(x,y)
print(type(a))
print(type(y))

48 33.48
<class 'int'>
<class 'float'>

In [25]:
x=48
y=33.48
print(x,y)
print(type(x),type(y))

48 33.48
<class 'int'> <class 'float'>

In [26]:
print("hello!\nhello")

hello!
hello

In [5]:
i=100
print(type(i))
x=str(i) # str() converts the input to string type
print(type(x))
y=float(i) # float() converts the input into float type
print(type(y))

<class 'int'>
<class 'str'>
<class 'float'>

In [6]:
x="100"
print(type(x))
a=int(x)
print(type(a))
f=3.3
z=int(f)
print(type(z))
print(z)

<class 'str'>
<class 'int'>
<class 'int'>
3

In [7]:
#TO FIND LENGTH
a=3348
print(len(str(a)))

4

In [8]:
s1=input("enter your name")
print(s1)
print(type(s1))

enter your nametrinath
trinath
<class 'str'>

# Operators

## Arithetic Operators

* +
* -
* /
* %
* *
* // # double division gives answer in int type while single division gives output in float
### **

In [9]:
x,y=48,33
print(x+y)
print(x-y)
print(x/y)
print(x*y)
print(x//y)
print(x**y)

81
15
1.4545454545454546
1584
1
30266404599109864532334369015971799232027475459658743808

In [10]:
x=1+2**3/4+5
print(x)
print(type(x))

8.0
<class 'float'>

## Relational Operators

* ==
* !=
* greater than (>)
* less than (<)
* greater than or equal to (>=)
* lessthan or equal to (<=)

In [11]:
a,b=5,8
x=(a>5 and b>8)
y=(a<6 and b<9)
print(x)
print(y)

False
True

# Else If Syntax

if<>:
else:

## or

if<>:
elif<>: